<app-top-bar [title]="'Todo'"></app-top-bar>
<div class="container">
  <div class="card todo">
    <h1 class="todo__title">
      <fa-icon [icon]="faClipboardList"></fa-icon> {{todo?.title}}
    </h1>
    <p class="todo__description">
      {{todo?.description}}
    </p>
    <p>
      <fa-icon [icon]="faCalendar"></fa-icon> Delivery Date: {{todo?.deliveryDate | date: 'dd-MM-yyyy'}}
    </p>
    <p>
      <fa-icon [icon]="faFolder"></fa-icon> Group: {{todo?.group | titlecase}}
    </p>
    <p>
      <fa-icon [icon]="faBoltLightning"></fa-icon> Priority: {{todo?.priority}}
    </p>
  </div>
</div>
